@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

:root {
  font-family: "Space Grotesk", "Segoe UI", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #0c0d11;
  color: #e6e9f2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
}
